api_key.json
.history
.vscode
data/_pycache_
__pycache__
test.py
prompts/*__pycache__sample.txt
model_training 
structural_ablation/*.pdf
structural_ablation/*.joblib
structural_ablation/*.json
structural_ablation/*.npy
logs
*.sh
stop_words.txt
generation/*.log
identification/*.log
generation/output
identification/output
C4Styli/*.ttf
C4Styli/*.json
C4Styli/*.txt
C4Styli/*.pdf
utils.py
.DS_Store
*.swp